


body {
  background-image: linear-gradient(#007EA7, #003459,#003458,#003356,#00263c);
}

#space {
    
  border-collapse: separate;
  border-spacing: 15px;
}

h1 {
  color: #ffffff;
  margin-left: 20px;
}

p {
  
  color:#ffffff;
}

.imagestyle1 { position: relative; top: -3px; }


img.b {
  vertical-align: text-top;
  
  tr:hover {background-color: #f5f5f5;}
  

  
 
  
