


body {
  background-image: linear-gradient(#61B5DA, #50C9CE);
}
}

h1 {
  color: #000000;
  margin-left: 20px;
}

.imagestyle1 { position: relative; top: -3px; }


img.b {
  vertical-align: text-top;

